<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/Styles/LoginADM.css">
    <link rel="stylesheet" href="../static/Styles/styles.css">
</head>
<body>
    <header class="navbar">
        <h1>Vulture Books</h1>
        
        <img src="../static/Imagens/Urubu.png" alt="" width="100px">
    </header>
    <div class="login-wrapper">
        <div class="login-container">
            <h2>Login Admin</h2>
            <form action="/admin/login" method="POST">
                <div class="input-group">
                    <b><label>Email</label></b>
                    <input type="email" name="email" placeholder="Digite seu email" required>
                </div>
                <div class="input-group">
                    <b><label>Senha</label></b>
                    <input type="password" name="senha" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="login-btn">Entrar</button>
            </form>
            <div class="footer">
                <b>Sistema de Doação de Livros</b>
            </div>
        </div>
    </div>
</body>
</html>