* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

.navbar {
    width: 100%;
    padding: 15px;
    background:var(--NavBar);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar img {
    height: 100px;
}

.navbar h1 {
    font-size: 45px;
    margin: 0;
}

.login-wrapper {
  height: 100vh;
  background: linear-gradient(0deg, #0455ce 0%, #8bb7ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #53a2fc;;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #53a2fc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #53a2fc;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #53a2fc;
}

.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #777;
}